/* body{
    background-color: yellowgreen; 
    text-align: center;
    background-image: url("../images/background-kissing-park.jpg");
    background-size: 100%;
} */
header{
    font-size: 500%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    color: black;
}
.movie_view {
    padding: 10px 10px 10px 10px;
    display: inline-block;
    height: 350px;
    width: 300px;
}
#movies-view {
    text-align: center;
}

.bar-images{
    display: flex;
justify-content: center;
align-items: center;
}

.bar-display {
    height: 300px;
    width: 230px; 
    padding: 10px 10px 10px 10px;
    display: inline-block;
    background: grey;
    overflow: auto;
}

p {
    padding: 0px 0px 0px 0px;
    margin: 1px 1px 1px 1px;
}
.showArea {
    width: 250px;
    height: 400px;
    overflow: scroll;
    border: solid 1px black
}
/* #infoboard {
    background-color: cornflowerblue;
}  */

/* Events */
.eventImg{
    max-width: 300px;
}
.eventDiv {
    position: relative;
    text-align: center;
    color: white;
}
.eventInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#local-events{
    text-align: center;

}
.bigDiv {
    padding: 10px 10px 10px 10px;
    display: inline-block;
}

.nextDiv {
    max-width: 400px;
}
.logo {
    font-weight: bold;
}
.topLine {
    text-shadow: 4px 2px cadetblue;
}
.section-follow .fa-4x {
    margin: 10px 15px;
}