body{
    background-color: yellowgreen;
    text-align: center;
    background-image: url("../images/background-concert.jpg");
    background-size: 100%;
}
header{
    font-size: 500%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    color: black;
}
.movie_view {
    padding: 10px 10px 10px 10px;
    display: inline-block;
    height: 350px;
    width: 300px;
}
#movies-view {
    text-align: center;
}

p {
    padding: 0px 0px 0px 0px;
    margin: 1px 1px 1px 1px;
}
#infoboard {
    background-color: cornflowerblue;
}
.eventImg{
    max-width: 300px;
}
/* .eventImg:hover{
    opacity: .75;
} */
.eventDiv {
    position: relative;
    text-align: center;
    color: white;
}
.eventInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* .eventInfo:hover {
    opacity: 1;
    background-color: darkgray;
} */
.bigDiv {
    text-align: center;

}

.nextDiv {
    display: inline-block;
}